/* 기본 스타일 */
body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* 우측 컨텐츠 */
.company-content {
  flex-basis: 80%;
}

.company-content h1 {
  color: var(--color-neutral-900, #222);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
  border-bottom: 2px solid #000; /* 원하는 색상과 두께로 설정 */
  padding-bottom: 8px; /* 텍스트와 보더 사이 간격 */
  margin-bottom: 16px;
  font-family: "Pretendard";
}

.company-description {
  color: var(--color-text-secondary, #5f646f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: "Pretendard";
}

.company-org-chart {
  display: flex;
  height: 494px;
  padding: 6px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  margin-bottom: 40px;
  margin-top: 40px;
}

.company-info {
  display: flex;
  flex-direction: column;
}

.company-info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd; /* 하단 보더 */
}

.company-info-row:last-child {
  border-bottom: none; /* 마지막 항목의 하단 보더 제거 */
}

.company-info-row:first-child {
  border-top: 2px solid #000; /* 첫 번째 행에만 위쪽 보더 추가 */
}

.company-info-label {
  flex-basis: 150px; /* 왼쪽 라벨 고정 너비 */
  color: var(--color-text-primary, #222);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
}

.company-info-data {
  flex-grow: 1; /* 오른쪽 데이터는 남은 공간을 차지 */
  color: var(--color-text-primary, #222);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}

/* ===========================
   갤럭시 폴드 반응형 스타일 (max-width: 800px)
============================== */
@media (max-width: 800px) {
  .company-content h1 {
    color: var(--color-neutral-900, #222);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    margin: 0;
  }

  .company-content {
    width: 100%; /* 컨텐츠 너비를 100%로 */

    padding: 0;
    margin: 0; /* 불필요한 여백 제거 */
  }

  .company-description {
    text-align: left;
    margin: 24px 0;
  }

  .company-org-chart {
    display: flex;
    width: 634px;
    height: 416px;
    padding: 6px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  .company-org-chart img {
    width: 634px;
    height: 416px;
  }

  .company-info {
    text-align: left; /* 정보 텍스트는 왼쪽 정렬 */
    padding: 0; /* 여백 초기화 */
  }

  /* 라벨과 데이터를 세로로 정렬 */
  .company-info-row {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
    padding: 16px 0; /* 간격 조정 */
    height: auto;
    gap: 8px;
  }

  .footer-info-links ul li:nth-child(n + 5) {
    display: none; /* 5번째 항목부터 숨기기 */
  }

  .company-info-label,
  .company-info-data {
    width: 100%; /* 너비를 100%로 설정 */
    height: 22px;
    flex-basis: 0;
  }
}

@media (max-width: 480px) {
  .company-org-chart {
    display: flex;
    width: 320px;
    height: 210px;
    padding: 6px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    align-self: stretch;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  .company-org-chart img {
    width: 320px;
    height: 210px;
  }
}
