/* 기본 스타일 */
body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* 우측 컨텐츠 */
.ceo-content {
  flex-basis: 80%;
}

.ceo-content h1 {
  color: var(--color-neutral-900, #222);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
  border-bottom: 2px solid #000; /* 원하는 색상과 두께로 설정 */
  padding-bottom: 8px; /* 텍스트와 보더 사이 간격 */
  margin-bottom: 16px;
  font-family: "Pretendard";
}

.ceo-content h3 {
  color: #000;
  font-family: "Noto Sans Lao";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-bottom: 16px;
  font-family: "Pretendard";
}

.lighter-weight {
  font-weight: 400; /* 원하는 낮은 weight 값 */
}

.ceo-content p {
  margin: 0;
  line-height: 35px;
}

.ceo-description {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: "Pretendard";
}
.signature {
  text-align: center;
  font-size: 20px; /* 원하는 폰트 크기로 설정 */
  font-weight: 800; /* 원하는 폰트 두께 설정 */
  padding-top: 40px; /* 적당한 위쪽 여백 설정 */
}

/* ===========================
   갤럭시 폴드 반응형 스타일 (max-width: 800px)
============================== */
@media (max-width: 930px) {
  .ceo-content h1 {
    color: var(--color-neutral-900, #222);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    margin: 0;
  }

  .ceo-content {
    width: 100%; /* 컨텐츠 너비를 100%로 */

    padding: 0;
    margin: 0; /* 불필요한 여백 제거 */
  }

  .ceo-content h1 {
    color: var(--color-neutral-900, #222);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.4px;
  }

  .ceo-content h3 {
    color: #000;
    font-family: "Noto Sans Lao";

    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.4px;
    padding-bottom: 8px; /* 텍스트와 보더 사이 간격 */
    margin-bottom: 16px;
    font-family: "Pretendard";
  }

  .ceo-content p {
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .ceo-description {
    text-align: left;
    margin: 24px 0;
  }

  .signature {
    text-align: center;
    font-size: 20px; /* 원하는 폰트 크기로 설정 */
    font-weight: 800; /* 원하는 폰트 두께 설정 */
    padding-top: 40px; /* 적당한 위쪽 여백 설정 */
  }
}

@media (max-width: 480px) {
  .company-org-chart {
    display: flex;
    max-width: 320px;
    height: 320px;
    padding: 6px 8px;
    flex-direction: column;
    ceo-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  .ceo-content h1 {
    color: var(--color-neutral-900, #222);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.4px;
  }

  .ceo-content h3 {
    color: #000;
    font-family: "Noto Sans Lao";

    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.4px;
    padding-bottom: 8px; /* 텍스트와 보더 사이 간격 */
    margin-bottom: 16px;
    font-family: "Pretendard";
  }

  .ceo-content p {
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }

  .signature {
    text-align: center;
    font-size: 20px; /* 원하는 폰트 크기로 설정 */
    font-weight: 800; /* 원하는 폰트 두께 설정 */
    padding-top: 40px; /* 적당한 위쪽 여백 설정 */
  }
}
