/* General Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

/* Ad Banner Section */
.ad-banner {
  max-width: 970px;
  height: 90px;
  margin: 0 auto;
  background-image: url("../img/ad-background.png");
  background-size: contain; /* 이미지 비율을 유지하면서 크기 조정 */
  background-repeat: no-repeat; /* 반복 방지 */
  background-position: center; /* 중앙 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.reebok-logo {
  width: 50px;
  height: auto;
}

.family-week,
.festival-text {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.family-week {
  font-size: 24px;
  font-weight: 700;
  margin-right: 16px;
}

.festival-text {
  font-size: 24px;
  font-weight: 300;
}

.text-container {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.logo-and-week {
  display: flex;
  align-items: center;
}
/* Logo and Login Section */
.logo-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--color-neutral-150, #ebeef1);
  border-bottom: 1px solid var(--color-neutral-150, #ebeef1);
  position: relative;
  padding: 20px 0;
}

.login-container {
  width: 1200px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  padding: 5px 8px 5px 8px; /* 여백 설정 */
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: flex-start; /* 상단 정렬 */
  gap: 10px; /* 요소 간 간격 */
}

.login-wrapper {
  width: 52px;
  height: 30px;
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 수직 정렬 */
}

.login-text {
  color: var(--color-text-disabled, #c5c8ce);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 169.231% */
  letter-spacing: -0.4px;
  text-decoration: none;
  border: 1px solid var(--color-border-secondary, #e2e5eb); /* 테두리 추가 */
  padding: 3px 8px; /* 글자와 테두리 사이의 여백 */
}

.icon-container {
  display: none;
}

.main-logo-container {
  width: 1200px;
  height: 60px;
  display: flex;
  justify-content: center;
}

.main-logo {
  width: 312px;
  height: auto;
}

/* Navigation Menu */
nav {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-text-primary, #222); /* 하단 보더 추가 */
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
}

.menu li {
  margin: 0 20px;
}

.menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.company-container {
  display: flex;
  margin: 0 auto;
  height: 1202px;
  gap: 50px;
  width: 1200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* 좌측 메뉴 */
.company-menu {
  flex-basis: 20%;
}

.company-menu ul {
  list-style: none;
  padding: 0;
}

.company-menu ul li {
  padding: 16px 0;
}

.company-menu ul li:first-child {
  padding-top: 0; /* 첫 번째 항목의 상단 패딩 제거 */
}

.company-menu ul li a {
  color: var(--color-text-secondary, #5f646f);
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 16px;
  font-family: "Pretendard";
}

.company-menu ul li a.active {
  color: var(--color-text-primary, #222); /* 활성화된 상태의 텍스트 색상 */
  font-weight: bold; /* 활성화된 상태의 굵은 폰트 */
  border-left: 4px solid var(--color-border-primary, #222); /* 왼쪽 보더 */
  padding-left: 12px; /* 보더로 인해 텍스트 위치 조정 */
}

/* Footer 전체 */
footer {
  background-color: white;
  height: 394px;
}

.footer-container {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  align-items: center; /* 중앙 정렬 */
}

/* 섹션을 가로로 나열하기 위한 컨테이너 */
.footer-section-container {
  width: 100%;
  display: flex;
  background-color: #fbfbfd;
  padding: 40px 0;
  justify-content: center;
}

.footer-section {
  width: 120px;
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  padding-left: 16px;
  padding-right: 4px;
  gap: 12px; /* 세로 간격 12px 설정 */
  border-left: 2px solid var(--color-neutral-150, #ebeef1);
}

.section-title {
  color: var(--color-text-Color, #222);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
}

.sub-section {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--color-text-secondary, #5f646f);
}

.footer-info {
  width: 100%;
  text-align: center;
  display: flex; /* flexbox 사용 */
  justify-content: center; /* 좌우 가운데 정렬 */
  background-color: #f4f6f9; /* 배경 색상 조정 */
  border-bottom: 1px solid #e6ecf7;
  padding: 16px 0;
}

.footer-info-links {
  display: flex;
  gap: 16px; /* 각 a 태그 간의 간격 설정 */

  width: 1200px;
  flex-wrap: wrap;
}

.footer-info-links a {
  font-size: 13px;
  margin: 0; /* 모든 마진 제거 */
  padding: 0; /* 모든 패딩 제거 */
  text-decoration: none; /* 밑줄 제거 */
  color: var(--color-text-secondary, #5f646f); /* 텍스트 색상 */
  display: inline-flex;
  align-items: center; /* 텍스트와 이미지가 수직 정렬되도록 */
  gap: 16px; /* 텍스트와 이미지 사이 간격 */
  font-family: "Pretendard", sans-serif; /* Pretendard 폰트 적용 */
}

.footer-info-links a::after {
  content: ""; /* 이미지 추가 */
  display: inline-block;
  width: auto;
  height: 12px;
  content: url("../img/vector.png"); /* 이미지 경로 */
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-info-links a:last-child::after {
  content: none; /* 마지막 a 태그 뒤에는 이미지 없앰 */
}

/* 개인정보처리방침에만 스타일 적용 */
.highlight-link {
  color: var(--color-neutral-800, #434855);
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 138.462% */
}

.footer-copyright-wrapper {
  width: 100%;
  background-color: #f4f6f9;
  padding: 40px 0; /* 여백 설정 */
}

.footer-copyright {
  display: flex;
  justify-content: space-between; /* 양쪽 정렬 */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; /* 중앙 정렬 */
}

.footer-logo-container {
  display: flex;
  align-items: center;
  gap: 20px; /* 로고와 텍스트 사이 간격 */
}

.footer-logo {
  height: 40px; /* 로고 크기 */
}

.footer-text {
  color: var(--color-text-secondary, #5f646f);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}

.footer-text p {
  margin: 0;
  margin-bottom: 6px; /* 모든 p 태그의 아래쪽에 6px 간격 */
}

.footer-text p:last-child {
  margin-bottom: 0; /* 마지막 p 태그는 간격이 필요 없으므로 0으로 설정 */
}

.footer-powered-by {
  display: flex;
  align-items: center;
  gap: 10px; /* 텍스트와 로고 사이 간격 */
  color: var(--color-text-tertiary, #9397a1);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer-powered-by img {
  height: 16px; /* Powered by 로고 크기 */
}

/* ===========================
   갤럭시 폴드 반응형 스타일 (max-width: 800px)
============================== */
@media (max-width: 800px) {
  .ad-banner {
    background-size: 320px 100px;
    height: 100px;
  }

  /* 로고와 텍스트 정렬 */
  .text-container {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center;
    gap: 0px; /* 간격 설정 */
  }

  .family-week {
    font-size: 20px;
    margin: 0;
  }

  .festival-text {
    font-size: 20px; /* 텍스트 크기 조정 */
    font-weight: 300; /* 굵기 조정 */
    margin-top: 4px; /* 상단 간격 추가 */
    margin-bottom: 0;
  }

  .login-container {
    display: none;
  }
  /* 로그인 버튼 숨기기 */
  .login-wrapper {
    display: none;
  }

  .logo-login-container {
    padding: 0;
  }

  /* 새로운 컨테이너 설정 */
  .logo-and-icon-container {
    display: flex;
    justify-content: space-between; /* 로고는 왼쪽, 아이콘은 오른쪽 정렬 */
    align-items: center; /* 수직으로 가운데 정렬 */
    width: 100%; /* 컨테이너 전체 너비 */
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 0;
    padding-right: 20px;
  }

  .main-logo {
    width: 104px; /* 로고 크기 */
    height: auto;
  }

  .icon-container {
    display: flex;
    gap: 10px; /* 아이콘 간격 설정 */
  }

  .search-icon,
  .menu-icon {
    width: 24px; /* 아이콘 크기 */
    height: auto;
    cursor: pointer;
  }

  /* Navigation Menu */
  nav {
    padding: 2px 0;
  }

  .menu li a {
    font-weight: 700;
    font-size: 14px;
  }

  .company-container {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    margin: 0 auto;
    height: auto;
    gap: 20px;
    width: 634px;
    padding-top: 20px;
    margin-bottom: 100px;
  }

  .company-menu {
    width: 100%; /* 전체 너비 */
    padding: 0;
    border-bottom: none; /* 하단 구분선 추가 */
    margin: 0;
  }

  .company-menu ul {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: flex-start; /* 위쪽 정렬 */
    gap: 24px; /* 항목 사이 간격 */
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: none; /* 하단 구분선 */
    width: 100%; /* 전체 너비 */
    overflow-x: auto; /* 가로 스크롤 활성화 */
    overflow-y: hidden;
    white-space: nowrap; /* 줄바꿈 방지 */
    /* 스크롤 바 숨기기 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 및 Edge */
  }

  .company-menu ul::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera에서 스크롤 바 숨기기 */
  }

  .company-menu ul li {
    display: inline-block; /* 가로로 항목을 배치 */
    padding: 0 0; /* 여백 조정 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  }

  .company-menu ul li a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--color-text-secondary, #5f646f);
    line-height: 22px; /* 줄 간격 설정 */
    text-decoration: none;
    padding-top: 0;
    padding-left: 0;
  }

  .company-menu ul li a.active {
    font-weight: bold; /* 활성화된 항목 강조 */
    color: var(--color-text-primary, #222); /* 강조된 텍스트 색상 */
    padding: 10px 0; /* 여백 조정 */
    border-left: none;
  }

  .company-content {
    width: 100%; /* 전체 너비 */
    padding: 0 20px; /* 좌우 패딩 */
  }

  footer {
    background-color: white;
    height: auto;
  }
  .footer-info {
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: start;
  }

  .footer-copyright {
    padding-left: 20px;
  }

  .footer-section-container {
    display: none;
  }

  .footer-copyright-wrapper {
    width: 100%;
    background-color: #f4f6f9;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .footer-info-links {
    width: 634px;
  }

  .footer-info-links a:nth-child(n + 5) {
    display: none; /* 5번째 링크부터 숨기기 */
  }

  /* footer-logo-container 새로 정렬 및 왼쪽 정렬 */
  .footer-logo-container {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
    margin-top: 20px;
    width: 100%; /* 전체 너비 사용 */
  }

  /* footer-powered-by 새로 정렬 및 왼쪽 정렬 */
  .footer-powered-by {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
    gap: 5px; /* 텍스트와 로고 사이 간격 */
    margin-top: 4px;
    width: 100%; /* 전체 너비 사용 */
  }

  /* footer-copyright 새로 정렬 및 왼쪽 정렬 */
  .footer-copyright {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
    gap: 20px; /* 섹션 간 간격 */
    width: 100%; /* 전체 너비 사용 */
  }

  /* footer-text 왼쪽 정렬 */
  .footer-text {
    text-align: left; /* 텍스트 왼쪽 정렬 */
    width: 100%; /* 전체 너비 사용 */
  }

  .footer-copyright-wrapper {
    width: 100%;
    background-color: #f4f6f9;
    padding-top: 0;
  }
}

/* ===========================
   모바일 반응형 스타일 (max-width: 480px)
============================== */
@media (max-width: 480px) {
  nav {
    overflow-x: auto;
    white-space: nowrap;
  }

  .menu {
    display: inline-flex;
    flex-wrap: nowrap;
    width: max-content;
  }

  .menu li {
    display: inline-block;
  }

  .company-container {
    gap: 20px;
    width: 320px;
  }

  .company-menu {
    width: 100%; /* 전체 너비 */
    padding: 0;
    border-bottom: none; /* 하단 구분선 추가 */
    margin: 0;
  }

  .company-menu ul {
    gap: 20px; /* 항목 사이 간격 */
  }

  footer {
    background-color: white;
    height: auto;
  }
  .footer-info {
    padding-bottom: 0;
  }

  .footer-section-container {
    display: none;
  }

  .footer-copyright-wrapper {
    width: 100%;
    background-color: #f4f6f9;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .footer-info-links {
    width: 100%;
  }

  .footer-info-links a {
    padding-left: 20px;
    padding-right: 0;
  }

  .footer-info-links a:nth-child(n + 5) {
    display: none; /* 5번째 링크부터 숨기기 */
  }

  /* footer-logo-container 새로 정렬 및 왼쪽 정렬 */
  .footer-logo-container {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
    margin-top: 20px;
    width: 100%; /* 전체 너비 사용 */
    padding-left: 20px; /* 왼쪽에 약간의 여백을 추가할 수 있음 */
  }

  /* footer-powered-by 새로 정렬 및 왼쪽 정렬 */
  .footer-powered-by {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
    gap: 5px; /* 텍스트와 로고 사이 간격 */
    margin-top: 10px; /* 위쪽 간격 추가 */
    width: 100%; /* 전체 너비 사용 */
    padding-left: 20px; /* 왼쪽에 약간의 여백을 추가할 수 있음 */
  }

  /* footer-copyright 새로 정렬 및 왼쪽 정렬 */
  .footer-copyright {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
    gap: 20px; /* 섹션 간 간격 */
    width: 100%; /* 전체 너비 사용 */
  }

  /* footer-text 왼쪽 정렬 */
  .footer-text {
    text-align: left; /* 텍스트 왼쪽 정렬 */
    width: 100%; /* 전체 너비 사용 */
  }

  .footer-copyright-wrapper {
    width: 100%;
    background-color: #f4f6f9;
    padding-top: 0;
  }
}
